html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #FAFAFA;
    color: hsla(0, 0%, 0%, 0.8);
    font-family: sans-serif;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, a {
    text-rendering: optimizeLegibility;
}

img {
    max-width: 100%;
}

* {
    padding: 0;
    margin: 0;
}
